.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.footer {
    background-color: #343a40; 
    color: rgb(17, 16, 16);
    padding: 80px;
    margin-top: auto;
}